{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens immo' %}
{% block body %}
 
      <div class="container mt-4">
        <h1 class="display-5 fw-bold">Voir tous nos biens</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>


{% endblock %}